<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zuan_Nishar::tablemenu" title="Customer Table" module="Zuan_Nishar" sortOrder="10"  resource="Zuan_Nishar::tablemenu"/>
        <add id="Zuan_Nishar::tablemenu1" title="Table " parent="Zuan_Nishar::tablemenu" module="Zuan_Nishar" sortOrder="10" action="table/customer/sampletable"  resource="Zuan_Nishar::tablemenu"/>
    </menu>
</config>